body{
  background-color: #000000 !important;
  color: #FFF01F !important;
  font-family: 'Bebas Neue' !important;
  font-size: 250px !important;
  display:flex;
  flex-direction:column; 
  justify-content:center;
}

.p1{
  margin: 0;
  font-size: 300px;
}
.p2{
  font-size: 36px;
}

.content{
  text-align: center;
  animation: neonAnim 1.5s alternate-reverse infinite;
}

.trailer{
  height: 1280px;
}
.video{
  height: 100%;
  width: 100%;
}

a, a:active{
  color: black !important;
  text-decoration: none !important;
  animation: none;
  border: 5px solid black;
  padding: 10px;
  transition: 0.1s;
}

a:hover{
  background-color: black;
  color: #FFF01F !important;
  transition: 0.5s !important;
  border: 5px solid #FFF01F !important;
  animation: none;
  border-radius: 20px;
  cursor: pointer;
}

.about{
  width: 100%;
  height: 1280px;
  align-content: center;
}

.aboutwindow{
  border: 3px solid #FFF01F;
  text-align: center;
  font-size: 36px;
  width: 90%;
  margin: 35px;
  height: 650px;
  padding: 20px 2em 0;
}

.aboutimg{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid #FFF01F;
  object-fit: cover;
}

.aboutname{
  margin: 2px;
}

.abouttitle{
  margin: 0;
  font-size: 24px;
}

.aboutcontent{
  font-size: 18px;
  border-top: 2px solid #FFF01F;
}

#clock {
    text-transform: uppercase;
}

.footer {
  font-size: 1rem;
  margin: 30px auto 10px auto;
  max-width: 450px;
}

#kontakt, #kontakt:active, #zmiany, #zmiany:active {
  color: #FFF01F !important;
  text-decoration: initial !important;
  transition: none !important;
  border: none !important;
  padding: 0;
}

#kontakt:hover, #zmiany:hover {
  transition: none !important;
  border: none !important;
  border-radius: 0 !important;
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}
