body{
  background-color: #000000;
  color: #FFF01F;
  font-family: 'Bebas Neue';
  font-size: 250px;
  animation: neonAnim 1.5s alternate-reverse infinite;
  display:flex;
  flex-direction:column; 
  justify-content:center;
}

.p1{
  margin: 0;
  font-size: 300px;
}
.p2{
  font-size: 36px;
}

.content{
  text-align: center;
}

.trailer{
  height: 1280px;
}

.video{
  height: 100%;
  width: 100%;
}