html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

/* ========================================================================================================================================================================*/
/* Main Page --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/
.navbar-menu{
    background-color: #040406;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5%;
    align-items: center;
}

.navbar-text{
    color: white;
    font-size: 2.1rem;
}

.menu-icons{
    height: 2.3rem;
    width: 2.3rem;;   
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.leftside{
    color: #040406;
    height: 100%;
    width: 13%;
    font-size: 2rem;
    background-color: #FFFFFF;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#welcome-msg{
    border-bottom: 1px solid #040406;
    animation: appearText 0.2s ease-in;
}

hr{
    margin-top: -5px;
}

.foo{
    display: flex;
    flex-direction: row;   
}

.rightside {
    text-align: center;
    width: 85%;
    height: 100%;
}

.content{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    animation: appearText 0.5s ease-in;
}

.calendar-icon{
    height: 2.7rem;
    width: 2.7rem;
    flex-basis: 40%;
    max-width: 2.7rem;
    margin-left: 7px;
}

.inline-block{
    display: flex;
    align-items: center;
}

#format-display{
    font-size: 32px;
    font-weight: 400;
}

.logo-icon{
    height: 3rem;
    width: 3rem;
    border-bottom: 1px solid white;
}

/* ========================================================================================================================================================================*/
/* Options Page -----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/
.options-icon{
    position: relative;;
    height: 2.3rem;
    width: 2.3rem;
    margin: 10px;
}

.options-icon:hover {
    cursor: pointer;
}

.options-menu{
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.overlay{
    box-shadow: 2px 2px 5px black;
    width: 20%;
    height: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #040406;
    box-sizing: border-box;
    padding: 2rem;
    animation: appear 0.5s ease-in-out;
}

.close-button{
    width: 7rem;
    height: 3rem;
}

/* ========================================================================================================================================================================*/
/* Login / Register Page --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/
.login-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    background-color: #040406;
    color: white;
    border-right: 1px solid white;
    align-items: center;
}

.logo-box{
    width: 100%;
    height: 25%;
    background-color: #040406;
    color: white;
    font-size: 32px;   
    border-right: 1px solid white;
}

.register-header{
    font-size: 3.5rem;
    margin: auto;
    font-weight: 500;
    border: 2px dashed white;
    padding: 10px;
}

.center-box{
    width: 37%;
    height: 100%;
    box-shadow: 2px 2px 5px black;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.login-form{
    display: flex;
    flex-direction: column;
}

#error-msg{
    color: white;
}

.login-header{
    font-size: 4rem;
    margin: auto;
    font-weight: 500;
    border: 2px dashed white;
    padding: 10px;
}

.login-form-input{
    font-family: 'Roboto', sans-serif;
    background-color: #040406;
    border: 0;
    border-bottom: 1px solid white;
    height: 2.3rem;
    width: 23rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 5px;
    margin: auto;
    margin-top: -10px;
}

.login-form-input:focus{
    font-family: 'Roboto', sans-serif;
    background-color: #040406;
    border: 0;
    border-bottom: 1px solid white;
    height: 2.3rem;
    width: 23rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 5px;
    margin: auto;
    margin-top: -10px;
}

.login-form-text{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.register-link{
    font-size: 14px;

}

.register-link:hover{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    transition: 0.1s;
}

a{
    text-decoration: none;
    color: white;
}

a:active{
    text-decoration: none;
    color: white;
}

/* ========================================================================================================================================================================*/
/* Buttons ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/

.login-form-button{
    height: 2.3rem;
    width: 11.5rem;
    color: white;
    font-size: 1.2rem;
    background-color: #040406;
    border: 1px solid white;
    margin: auto;
    margin-top: 2rem;
}

::placeholder{
    font-style: italic;
    opacity: 25%;
}

.login-form-button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.login-form-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.login-form-button:hover span {
    padding-right: 20px;
}
  
.login-form-button:hover span:after {
    opacity: 1;
    right: 0;
}

.login-form-button:active{
    background-color: white;
    color: #040406;
    transition: 0.3s;
}

.register-text{
    font-size: 16px;
    margin-top: 6rem;
    margin-bottom: -0.5rem;
    font-weight: 600;
}

iframe{
    border: none;
    height: 85%;
}

/* ========================================================================================================================================================================*/
/* Calendar ---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/
.table {
    margin: 0;
    font-size: 32px;
    height: 80%;
    width: 100%;
}

.btn{
    width: 10rem;
    height: 2.5rem;
    font-size: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    background-color: white;
    margin-bottom: -3px;
}

.btn:hover{
    border-bottom: 3px solid black;
    transition: 0.1s ease-in-out;
    box-sizing: border-box;
}

th{
    width: 12.5%;
}

.calendarCell:hover{
    background-color: lightgrey;
    transition: 0.1s ease-out;
}

.card-header{
    display: none;
}

select{
    border: 0;
    font-size: 3rem;
    margin: 2rem;
}

option{
    font-size: 1rem;
}

/* ========================================================================================================================================================================*/
/* Adding event form ------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    
}

.form-select{
    font-size: 1rem;
    width: 65%;
    background-color: #040406;
    color: white;
    border-bottom: 1px solid white;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

label{
    font-size: 1.5rem;
    margin: auto;
}

.form-input{
    background-color: #040406;
    border: 0;
    border-bottom: 1px solid white;
    height: 2.3rem;
    width: 65%;
    font-size: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 550;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#datetime-form{
    font-weight: 150;
}

#temp{
    margin-top: -1rem;
}

/* Animacje */
@keyframes appear{
    0%{width: 12%;}
    50%{width: 25%;}
    100%{width: 20%;}
}

@keyframes appearText{
    0%{opacity: 0%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}

body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}
