html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

body{
    background-image: url(../Images/bg-image.jpg);
    background-size:cover;
}

/* ========================================================================================================================================================================*/
/* Main Page --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/

.logout-icon{
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.3s ease-in-out;
}

.logout-icon:hover{
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    position: absolute;
    top: 20;
    right: 20;
    transition: 0.2s ease-in-out;
    background-color: #1f1f1f;
    border-radius: 50%;
}

.leftside{
    color: white;
    height: 100%;
    width: 15%;
    font-size: 2rem;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#date-display{
    text-align: center;
    font-size: 1.5rem;
    animation: appearText 1s ease-in;
    margin-top: 5px;
    margin-bottom: 5px;
}

#welcome-msg{
    border-bottom: 1px solid #040406;
    animation: appearText 1s ease-in;
    margin-bottom: 0px;
    border-bottom: 1px solid white;
}

.foo{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
}

.rightside {
    text-align: center;
    width: 85%;
    height: 100%;
    background-color: #121212;
    color: #050505;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.calendar-icon{
    height: 2.7rem;
    width: 2.7rem;
    flex-basis: 40%;
    max-width: 2.7rem;
    margin-left: 7px;
}

.inline-block{
    display: flex;
    align-items: center;
}

#format-display{
    font-size: 32px;
    font-weight: 400;
}

.logo-icon{
    height: 3rem;
    width: 3rem;
    border-bottom: 1px solid white;
}

.cal-top{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

/* ========================================================================================================================================================================*/
/* Options Page -----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/
.options-icon{
    position: relative;;
    height: 2.3rem;
    width: 2.3rem;
    margin: 10px;
}

.options-icon:hover {
    cursor: pointer;
}

.options-menu{
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.overlay{
    box-shadow: 2px 2px 5px black;
    width: 27%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #141414;
    box-sizing: border-box;
    padding: 2rem;
    animation: appear 0.5s ease-in-out;
}

.close-button{
    width: 7rem;
    height: 3rem;
}

/* ========================================================================================================================================================================*/
/* Login / Register Page --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/
.login-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    background-color: #040406;
    color: white;
    border-right: 1px solid white;
    align-items: center;
}

.cat{
    width: 100% !important;
}

.logo-box{
    width: 100%;
    height: 25%;
    background-color: #040406;
    color: white;
    font-size: 32px;   
    border-right: 1px solid white;
}

.register-header{
    font-size: 3.5rem;
    margin: auto;
    font-weight: 500;
    border: 2px dashed white;
    padding: 10px;
}

.hr{
    width: 100%;
}
.center-box{
    width: 37%;
    height: 100%;
    box-shadow: 2px 2px 5px black;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.login-form{
    display: flex;
    flex-direction: column;
}

#error-msg{
    color: white;
}

.login-header{
    font-size: 4rem;
    margin: auto;
    font-weight: 500;
    border: 2px dashed white;
    padding: 10px;
}

.login-form-input{
    font-family: 'Roboto', sans-serif;
    background-color: #040406;
    border: 0;
    border-bottom: 1px solid white;
    height: 2.3rem;
    width: 23rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 5px;
    margin: auto;
    margin-top: -10px;
}

.login-form-input:focus{
    font-family: 'Roboto', sans-serif;
    background-color: #040406;
    border: 0;
    border-bottom: 1px solid white;
    height: 2.3rem;
    width: 23rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 5px;
    margin: auto;
    margin-top: -10px;
}

.login-form-text{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.register-link{
    font-size: 14px;

}

.register-link:hover{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    transition: 0.1s;
}

a{
    text-decoration: none;
    color: white;
}

a:active{
    text-decoration: none;
    color: white;
}

/* ========================================================================================================================================================================*/
/* Buttons ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/

.login-form-button{
    height: 2.3rem;
    width: 11.5rem;
    color: white;
    font-size: 1.2rem;
    background-color: #040406;
    border: 1px solid white;
    margin: auto;
    margin-top: 2rem;
}

#important{    
    background-color: #141414 !important;
}

::placeholder{
    font-style: italic;
    opacity: 55%;
}

.login-form-button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.login-form-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.login-form-button:hover span {
    padding-right: 20px;
}
  
.login-form-button:hover span:after {
    right: 0;
    opacity: 1;
}

.register-text{
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    font-weight: 600;
}

iframe{
    border: none;
    height: 85%;
}

.add-button{
    border: 1px solid white;
    background-color: #141414;
    color: white;
    height: 2rem;
    width: 16rem;
    font-size: 20px;
    margin: 0.5rem;
    transition: 0.2s ease-in-out;
}

.add-button:hover{
    border: 1px solid white;
    background-color: #141414;
    color: white;
    height: 2.5rem;
    width: 16.5rem;
    border-radius: 100px;
    font-size: 22px;
    margin: 0.3rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: #141414;
    background-color: white;
}


.add-buttons{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

/* ========================================================================================================================================================================*/
/* Calendar ---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/
.table {
    margin: 0;
    font-size: 32px;
    height: 85%;
    width: 100%;
}

.index-select{
    width: 12rem;
    font-size: 24px;
    position: absolute;
    left: 270px;
    border-bottom: 1px solid white;
}

.btn{
    width: 5rem;
    height: 2.5rem;
    font-size: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #121212;
    background-color: #121212;
    color: white;
    margin-bottom: -3px;
}

.btn:hover{
    border-bottom: 3px solid white;
    transition: 0.1s ease-in-out;
    box-sizing: border-box;
}

th{
    width: 12.5%;
    margin: 20px;
    color: white;
}

.calendarCell{
    color: white;
    opacity: 100%;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    border-radius: 20px;
}

.calendarCell:hover{
    background-color: #1f1f1f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.calendarCellClick{
    background-color: #1f1f1f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 20px;
}

td{
    text-align: center;
    color: darkgray;
    opacity: 50%;
}

.card-header{
    display: none;
}

select{
    font-size: 3rem;
    margin: 2rem;
    background-color: #121212;
    color: #FFFFFF;
    border: none;
}

option{
    font-size: 1rem;
}


/* ========================================================================================================================================================================*/
/* Adding event form ------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #141414;
    height: 100%;
}

.form-select{
    font-size: 1.2rem;
    width: 65%;
    background-color: #141414;
    color: white;
    border-bottom: 1px solid white;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

label{
    font-size: 1.5rem;
    margin: auto;
}

.form-input{
    background-color: #141414;
    border: 0;
    border-bottom: 1px solid white;
    height: 2.3rem;
    width: 65%;
    font-size: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 550;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#datetime-form{
    font-weight: 150;
}

#temp{
    margin-top: -1rem;
}

/* ========================================================================================================================================================================*/
/* Assignments display ----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/

.assignment-display{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appearText 1s ease-in;
}

hr{
    width: 12rem;
}

li:hover{
    transition: 0.5s;
    cursor: pointer;
    border-radius: 2px;
    border-bottom: 1px solid white;

}

li{
    border-bottom: 1px solid #141414;
    transition: 0.5s;
    position: relative;
    left: -20px;
    list-style: none;
    margin: 10px;
}

ul{
    margin: 5px;
}

/* ========================================================================================================================================================================*/
/* Dark mode switch -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ========================================================================================================================================================================*/

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: darkgray;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px darkgray;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Animacje */

@keyframes appear{
    0%{width: 20%;}
    50%{width: 30%;}
    100%{width: 27%;}
}

@keyframes appearText{
    0%{opacity: 0%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}

.dark-mode{
    background-color: #121212;
    color: white;
    transition: 0.5s;
}

.bg-info{
    border: 1px solid lightgray;
    border-radius: 20px;
}